.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/target/
!**/src/test/**/target/

*.iws
*.iml
*.ipr
